{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} MusicApp - Home {% endblock title %}

<head>
    <title>My Music</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
{% block body %}

</style>
<br>

<div class="container p-2 my-3 bg-info">
    <a href="{% url 'playlist' %}">
        <h3 style="color: antiquewhite;">Playlists</h3>
    </a>
</div>
<div class="container p-2 my-3 bg-danger">
    <a href="{% url 'favourite' %}">
        <h3 style="color: antiquewhite;">Favourites</h3>
    </a>
</div>


{% endblock body %}